# Configuration file

general {
    # Determines whether or not the default tips should be possible. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
	Cows must have given birth before they will produce milk
	Farming and chopping trees are great ways to gain experience
	Breaking a spawner with silk touch gives a broken spawner block
	Many armors grant set bonuses when all pieces are worn together
	Torch arrows are great for lighting dungeon rooms from afar
	The only way to stop a spawner from generating monsters is to break it
	Zombies will seek out and break torches if nobody is around
	Creepers will be instantly detonated if they are set on fire
	Blocking an arrow with good timing will reflect it back at the attacker
	You can pick up chests and small animals by crouch right-clicking with an empty hand
	Every quest gives experience - completing them is a great way to level up
	Surface samples tell you where large veins of ore are found
	Using a shield is an excellent way to close the gap on skeletons
	Monsters holding weapons will deal a lot more damage - beware of axe-wielders!
	Dungeons can be very difficult - consider gearing up before taking them on
	Iron golems will fiercely defend their villages - don't pick a fight with one!
	Some villagers sell unique items you can't find anywhere else
	Rare items can sometimes be caught while fishing
	Different fish can be caught in different biomes
	Fruit juice, tea, and milk are excellent ways to recover thirst
	Drinking soup also restores a small amount of thirst
	Satisfying a hunger craving will increase your maximum health, for a while
	Monsters are tougher in The Beneath, but drop more experience and loot
	Torches can be held in your offhand and will still provide light
	Leather armor will not break, and can be repaired with a repair kit
	A villager will offer you more trades once you gain their trust
	Caving is much less dangerous than scavenging dungeons
	Elixirs are much easier to make than potions and can save your life in a pinch
	Dirty water can be drank straight from a pool by right-clicking with an empty hand
	Eating a variety of different foods will increase your maximum health
	A probe can tell you all about your animals, including hunger, thirst, pregnancy, and health
	Wizards will be very upset if you dismantle their towers
	Clay buckets work just like iron buckets, except they burn up after pouring lava
	Breaking a monster spawner may release a horde of that monster - beware!
	Champion enemies scale in difficulty up to 4 stars, and drop lots of loot and experience
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


