# Configuration file

general {
    # Minimum required level to uncraft an item
    I:standardLevel=5

    # Maximum required level to uncraft an item
    I:maxUsedLevel=30

    # Cost per enchantment when removing enchantments onto books
    I:enchantmentCost=1

    # ID of the used uncrafting equation.
    I:uncraftMethod=0

    # List of items which cannot be uncrafted
    S:excludedItems <
        attaineddrops2:essence
        xreliquary:witch_hat
        spectrite:spectrite_brick
        spectrite:spectrite_bone
        spectrite:spectrite_dust
        spectrite:spectrite_blaze_rod
        spectrite:spectrite_blaze_powder
        spectrite:spectrite_gem
        spectrite:spectrite_shovel
        spectrite:spectrite_shovel_special
        spectrite:spectrite_pickaxe
        spectrite:spectrite_pickaxe_special
        spectrite:spectrite_axe
        spectrite:spectrite_axe_special
        spectrite:spectrite_sword
        spectrite:spectrite_sword_special
        spectrite:spectrite_sword_2
        spectrite:spectrite_arrow
        spectrite:spectrite_arrow_special
        spectrite:spectrite_bow
        spectrite:spectrite_bow_special
        spectrite:spectrite_shield
        spectrite:spectrite_shield_special
        spectrite:spectrite_helmet
        spectrite:spectrite_chestplate
        spectrite:spectrite_leggings
        spectrite:spectrite_boots
        spectrite:spectrite_star
        spectrite:spectrite_crystal
        spectrite:spectrite_wither_rod_normal
        spectrite:spectrite_wither_rod_invulnerable
        spectrite:spectrite_compass
        spectrite:spectrite_chest
        spectrite:spectrite_chest_trapped
        spectrite:spectrite_block
        spectrite:spectrite_sand
        spectrite:spectrite_glass
        spectrite:spectrite_bone_block
        spectrite:spectrite_ladder
        spectrite:diamond_ladder
        spectrite:spectrite_anvil
     >
}


nuggets {
    # Use available nuggets for partial returns of damaged items
    B:useNuggets=true

    # Register additional nuggets to use for partial returns of damaged Vanilla items
    B:registerNuggets=true

    # Use Rabbit Hide for partial returns of damaged Leather items
    B:useRabbitHide=false

    # Ensure that at least one nugget is returned, even for items with 0% durability
    B:ensureReturn=true
}


